.verMas {
  width: auto;
  height: auto;
  background-color: #FFBE1B;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.fa-circle-xmark {
  color: #ffffff;
  display: flex;
  font-size: 40px;
  justify-content: right;
  vertical-align: top;
  text-align: right;
  margin: 1em 0 1em 1em;
}

.verMas-container {
  width: 80%;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 4em 0;
}

.verMas-izquierda {
  width: 80%;
  height: 350px;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  text-align: center;
  z-index: 19;
}

.verMas-derecha {
  width: 80%;
  height: 450px;
  text-align: center;
  z-index: 19;
  margin-bottom: 4em;
}

.verMas-img {
  width: auto;
  height: 200px;
  border-radius: 100%;
  z-index: 19;
}

#btn-chat {
  border: none;
}


